/* .vitepress/theme/custom.css */
:root {
  --c-brand: #646cff;
  --c-brand-light: #747bff;
  --c-bg: black;
  --c-text: white;
  --c-hover: #ffffff;
}
.dark {
 --c-hover: #212121;
  --c-bg: #fff;
  --c-text: black;
}
#app {
  min-height: 100vh;
  position: relative;
}
.theme {
  background-color: var(--c-bg);
}
